/* ------------------------------------------
	reset
------------------------------------------ */
body, ul, li{
	margin: 0;
	padding: 0;
}
img {
	vertical-align: bottom;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}


/* ------------------------------------------
	構造体
------------------------------------------ */
.slider {
	position: relative;
	overflow: hidden;
}
.slider-view {
	position: absolute;
}
ul.slider-items {
}
ul.slider-items li {
	float: left;
}
ul.slider-items li img{
	width: 100%;
}
#prev, #next {
	display: none;
	position: fixed;
	color: black;
	font-size: 100px;
	cursor: pointer;
	z-index: 1;
}
#prev {
	left: 20px;
}
#next {
	right: 20px;
}
